* {
    scroll-behavior: smooth;
}

body {
    background-color:#F0F7F4;
    margin: 0!important;
}
.container {
    width: 1000px;
    margin-left: 225px;
    
}
Button:hover {
 color:#E55E38;
 
 
}
img{
    filter: grayscale(80%);
  }
img:hover {
    filter: grayscale(0);
    
}


   

