* {
    scroll-behavior: smooth;
}

body {
    background-color:#F0F7F4;
    margin: 0!important;
}
.container {
    width: 1000px;
    margin-left: 225px;
    
}
Button:hover {
 color:#E55E38;
 
 
}
img{
    filter: grayscale(80%);
  }
img:hover {
    filter: grayscale(0);
    
}
@media screen and (max-width: 740px) {
    
    .container {
        width: 100%;
        margin: 5px;
        padding: 80px 0;
    }
  }
  @media screen and (max-width: 980px) {
    
    .container {
        width: 100%;
        margin: 5px;
        padding: 80px 0;
    }
  }
  @media screen and (max-width: 1280px) {
    
    .container {
        width: 100%;
        margin: 5px;
        padding: 80px 0;
    }
  }
  


   

