* {
    scroll-behavior: smooth;
}

body {
    background-color:#F0F7F4;
    margin: 0!important;
}
h1,h3,h5 {
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Nunito', sans-serif;
    font-weight: 350;
    
}
a{
    font-family: 'Nunito', sans-serif;
    font-weight: 450;
}
.container {
    
    margin-left: 225px;
    
    max-width: 1000px;
    
}
Button:hover {
    
 color:#E55E38;
 transform: translateY(-3px);
 transition: transform 300ms ease-in-out;
 
 }
 .extralink:hover{
    background-color:#E55E38;
    
    transform: translateY(-3px);
    transition: transform 300ms ease-in-out;

 }
 /* i:hover{
    background-color:#E55E38;
    background-size: cover;
    transform: translateY(-3px);
    transition: transform 300ms ease-in-out;   
 } */


img:hover {
    filter: grayscale(0);
    transform: translateY(-3px);
    transition: transform 300ms ease-in-out;
    
    
}
#extra:hover{
        transform: translateY(-10px);
        transition: transform 300ms ease-in-out;
    }



    
   


@media screen and (max-width: 740px) {

.container {
        width: 100%;
        margin: 0 auto;
        padding: 60px 0;
        
       
        
 }
 
 


  }
  @media screen and (max-width: 980px) {
    
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 60px 0;
        align-items: center;
        box-sizing: border-box;
        max-height: 100%;
        
        
    }
    
  }
  @media screen and (max-height: 500px) {
    .container{max-height: 100%;}
    #about {
        margin-bottom: 200px;
    }
    #skills {
        width: 100%;
        margin-bottom: 450px;
        padding: 40px 0;
        align-items: center;
        box-sizing: border-box;
        
        
    }
  }
  @media screen and (max-width: 1080px) {
    
    .container {
        width: 100%;
        margin: 0 auto;
        
        padding: 100px 0;
        max-height: 100%;

       
        
    }
    #hero{
        margin-left: 20x;
        padding-top: 0;
        
    }
    
          
    
  }
  
  


   

